h1 {
    color: #333; /* color define a cor do texto nesse caso da h1*/
    font-size: 60px; /* font-size define o tamanho da fonte nesse caso da h1*/
    text-align: center; /* text-align define o alinhamento do texto nesse caso da h1*/
    
}